/* Nawigacja - wyświetlanie poziome */
nav {
    display: flex; /* Używamy Flexboxa */
    justify-content: center; /* Wyrównanie w poziomie na środku */
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* Usuwamy domyślne marginesy/padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Sekcje */
section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
